{% include "inc/head.html" %}



        <!-- Sign up form -->
        

        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    

                    <div class="signin-form">
                        <h2 class="form-title">Adicionar Documento</h2>
                        <form method="POST" class="register-form" id="login-form" action="#" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="file" name="arquivo" id="arquivo" placeholder="Arquivo"/>
                            </div>
                            
                            
                            <div class="form-group form-button">
                                <input type="submit" name="login" id="login" class="form-submit" value="Login"/>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
    {% include "inc/foot.html" %}