{% extends "inc/base.html" %}


{% block conteudo %}
    <h1>Documentos</h1>
    <form action="#" method="post">
    <input class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 dark:text-gray-400" name="barra_pesquisa" id="barra_pesquisa" type="search" placeholder="Pesquisa">
    <input
          class="relative z-[2] rounded-r border-2 border-primary px-6 py-2 text-xs font-medium uppercase text-primary transition duration-150 ease-in-out hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0" type="submit" id="button-addon3" value="Pesquisar">
    </input>
      </form>
    <table class="min-w-full divide-y divide-gray-200 table-fixed dark:divide-gray-700">
        <thead class="bg-gray-100 dark:bg-gray-700">
          <tr>
            <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 dark:text-gray-400">Nome do Documento</th>
            <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 dark:text-gray-400"></th>
            

          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">
        {% for docs in doc %}
          <tr class="hover:bg-gray-100 dark:hover:bg-gray-700">

            <td  class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ docs.nome }}</a></td>
            <td  class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
 
              
              <a href="documentos_compartilhar.php?id_documento={{ docs.id_documento }}">
              <button class="bg-blue-400 hover:bg-blue-700 text-white font-bold py-2 px-4">Compartilhar</button></a>
              <a href="documentos_apagar.php?view={{ docs.id_documento }}">

                <button class="bg-red-500 hover:bg-blue-700 text-white font-bold py-2 px-4">Apagar</button></a></td>

          </tr>
          
          {% endfor %}
      
        </tbody>
      </table> 

{% endblock %}
